.btn{
    display: inline-block;
    line-height: 40px;
    padding: 0 2rem;
    &,span{
        font-size: 1.6rem;
        color: var(--Black-01);
        font-weight: 500;
        transition: all .3s;
    }
    border: 1px solid  var(--Black-01);
    border-radius: 100px;
    &-primary{
        background-color: var(--Yellow-01);
        &:hover{
            background-color: #fff;
        }
    }
    &-outline{
        line-height: 4.8rem;
        padding: 0 2.4rem;
        display: inline-flex;
        align-items: center;
        background-color: #fff;
        gap: 0.4rem;
        .injectable{
            margin-top: -0.39rem;
            transition: all .3s;
            color: var(--Black-01);
        }
        &:hover{
            background-color: var(--Black-01);
            &,span{
                color: #fff;
            }
            .injectable{
                &:not(&.parent){
                    transform: translate(4.7px,-4px);
                }
                color: #fff;
            }
        }
        &.xs{
            display: inline-block;
        }
    }
}

.btn-rounded{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.4rem;
    height: 20.4rem;
    background-color: #000;
    border-radius: 50%;
    transition: background-color .3s;
    span{
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 30px;
        color: var(--Yellow-01);
        max-width: 11rem;
        text-align: left;
        position: relative;
        line-height: 3rem;
        & > img{
            position: absolute;
            top: -0.15rem;
            right: 2.3rem;
            transition: transform .3s;
        }
    }

    &:hover{
        background-color: #ff6b24;
        span{
             & > img{
                 transform: translateX(7px);
             }
        }
    }
}

.btn-out{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 50%;
    background-color: var(--Black-01);
    transition: background-color .3s;
    &:hover{
        background-color: #ff6b24;
    }
}
