:root{
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Inter", sans-serif;
    //Colors
    --Black-01: #000;
    --Yellow-01: #f4fa00;
    --Purple-01: #5900ff;
    --Gray-01: #505050;
    --Gray-02: #e6e6e6;
}